.container {
    display: flex;
    flex-direction: column;
    margin: 20%;
    width: 60%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.input{
    display: flex;
    flex-direction: column;
}